<% content_for :sidebar do %> 
    <%= render "sidebar" %>
<% end %> 


<div> 
    <ul> 
    <% current_user.organization.surveys.each do |survey| %>
        <li><%= link_to  survey.name, survey %> </li>  
    <% end %> 
    </ul> 
</div> 
